body {
    background-color: beige !important;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #F5DE56; /* Set your preferred header background color */
    color: #fff; /* Set your preferred header text color */
    padding: 10px;
    text-align: center;
}

h1{
    color: #4A525D; 
    font-family: 'Bahnschrift';
    font-weight: bold;
    padding-top: 10px; 
    padding-bottom: 10px;
    text-align: center;
    
}

.row {
    display: flex;
    justify-content: center; /* Center the child elements horizontally */
    align-items: center; /* Center the child elements vertically */
}

.none {
    display: none;
}

form {
    max-width: 600px; /* Set your preferred maximum width for the form container */
    margin: 20px auto; /* Center the form container */
    padding: 20px;
    border: 1px solid #ddd; /* Set your preferred border color */
    border-radius: 10px; /* Set your preferred border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Set your preferred box shadow */
}

/* Add more styling as needed for form elements */
label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="number"],
input[type="url"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff; /* Set your preferred submit button background color */
    color: #fff; /* Set your preferred submit button text color */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Set your preferred hover color */
}
