body{ 
    background-color: beige !important; 
    font-family: 'Bahnschrift', Arial, sans-serif;
    margin: 0;
}
/*Partie header/menu*/
header {
    background-color: #d19119f1;  
    text-align: center; 
    margin-top: 0;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    align-items: center;
}
.menu{
    width: 120px;
    display: inline-block;
    text-align: center; 
}
.logo-container{
    text-align: center;
}



/*Partie barre de recherche*/
.BarRech {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    grid-row: 1;
    padding: 10px;
}
.search-container {
    display: flex;
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
}
input[type="text"] {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
}




/*Partie corps de la page*/
h1{
    color: #4A525D; 
    font-weight: bold;
    text-align: center;    
}
h2{
    font-size: 14pt;
    color: #4A525D; 
}
p{
    font-weight: lighter;
}
a{
    text-decoration: none;
}
.Corps{
    display: grid;
    grid-template-rows: auto 1fr auto;
}



/*Partie information classification*/
.info{
    display: grid;
    justify-content: center;
    grid-row: 2;
    margin: 0 auto;
}
.TInfo{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 10%;
    margin-right: 10%;
    gap: 10px;
}
.info table {
    width: 100%;
    border-collapse: collapse;
}
.info td ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
.info td ul li {
    margin-bottom: 5px;
}
#expl{
    text-align: justify;
}
select{
    width: 250px;
}
.contenu {
    display: none;
}
.info h2, .contenu, select {
    margin-top: 0;
}




/*Partie jeu proposé*/
.PJeux{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: auto;
    grid-row: 3;
}
.Jeu{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    border: 5px solid black;
    padding: 10px;
    background-color: whitesmoke;
}
.Jeu h2 {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    border: 1px solid #ccc;
    font-size: 40px;
}
.Jeu img {
    grid-column: 1;
    grid-row: 2;
    width: 60%;
    height: auto;
    border: 1px solid #ccc;

}
.Jeu .Desc{
    grid-column: 2;
    grid-row: 1;
    border: 1px solid #ccc;
}
.Jeu .Jinfo{
    grid-column: 2;
    grid-row: 2;
    border: 1px solid #ccc;
}
.Jeu .Coo{
    grid-column: 2;
    grid-row: 3;
    border: 1px solid #ccc;
}
button {
    padding: 20px 50px;
    border-radius: 15px;
    background-color: #5ec561; /* Ajustez la couleur de fond du bouton selon vos besoins */
    color: #ffffff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
}
button:hover {
    background-color: #45a049;
}



/*Partie bas de page*/
footer{
    bottom: 0;
    left: 0;
    background-color: #d19119f1;
    align-items: center;
}



/*Partie pour le style du menu deroulant du header*/
.dropdown {
    padding: 20px 40px;
    display: flex;
    color: black;
    background: beige;
    position: relative;
}
.dropdown:hover {
    background: #f5b856;
    cursor: pointer;
}
.dropdown:hover .dropdown_menu li {
    display: block;
}
.dropdown_menu {
    position: absolute;
    top: 100%;
    left: -40px;
    width: 160px;
}
.dropdown_menu li a {
    color: #fff;
    text-decoration: none;
}
.dropdown_menu li a:hover {
    color: black;
}
.dropdown_menu li {
    display: none;
    color: #fff;
    background-color: #f5b856;
    padding: 10px 20px;
    font-size: 16px;
    opacity: 0;
}
.dropdown_menu li:hover {
    background-color: #f5b856;
}
.dropdown:hover .dropdown_menu--animated {
    display: block;
}
.dropdown_menu-1 .dropdown_item-1 {
    transform-origin: top center;
    animation: slideDown 300ms 60ms ease-in-out forwards;
}
.dropdown_menu-1 .dropdown_item-2 {
    transform-origin: top center;
    animation: slideDown 300ms 120ms ease-in-out forwards;
}
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
